<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.sites.medcare">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Hospital.HospitalDetails"
            android:label="Hospital" />
        <activity
            android:name=".Hospital.BookAppointment"
            android:label="Book Appointment" />
        <activity
            android:name=".Hospital.SelectSpecialist"
            android:label="Hospital" />
        <activity
            android:name=".Appointments.RequestedAppointments"
            android:label="Pending Appointments" />
        <activity
            android:name=".AboutUs"
            android:label="About Us" />
        <activity
            android:name=".MaternalCare.MaternalCare"
            android:label="Maternity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".PatientHistory.EveryAppointment"
            android:label="Patient History" />
        <activity
            android:name=".PatientHistory.Appointments"
            android:label="Patient History" />
        <activity
            android:name=".Ambulance.Ambulance"
            android:label="Ambulance" />
        <activity
            android:name=".BloodBank.BloodBank"
            android:label="Blood Bank" />
        <activity
            android:name=".Pharmacy.Pharmacy"
            android:label="Pharmacy" />
        <activity
            android:name=".News.NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PathologyLab.PathologyLab"
            android:label="Pathology Lab" />
        <activity
            android:name=".Hospital.Hospital"
            android:label="Hospital" />
        <activity android:name=".SignInSignUp.SignUp" />
        <activity android:name=".SignInSignUp.SignIn" />
        <activity
            android:name=".Home.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reminder.addmedicine.AddMedicineActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Reminder.alarm.ReminderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Reminder.report.MonthlyReportActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>